<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" href="/assets/css/startup-materialize.min.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		
		<title>MVC With Burgers!</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>
	<body>

	<!-- Navbar -->
    <nav class="navbar navbar-solid-transition">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo black-text"><i class="material-icons black-text">restaurant</i>Eat Da Burger!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn black-text" href="https://github.com/novialim/burger" target="_blank">&nbsp;Github Source&nbsp;</a></li>
        </ul>

      </div>
    </nav>

    <div class="section">
      <div class="background">
        <img class="responsive-img" src="/assets/img/bg.jpg" alt="">
      </div>
      <div class="row black-text">     

      	{{{ body }}}

      </div>
    </div>

    
	
	</body>
</html>

